{% extends "base.html" %}

{% block main %}
<script src="static/fill_location.js"></script>
    <h1>Add new loo!</h1>

    <div class="form-group">
		<button class="btn btn-dark" onclick='getLocation()' >Fill with my location</button>
	</div>
    <form onsubmit='addressLocation(event)'>
        <div class='form-group'>
            <input autofocus name='address' class="form-control" id='address' placeholder="Address: 134 street ave, city"></div>
        </div>
        <div class="form-group">
            <button class="btn btn-dark" type='submit'>Use address</button>
        </div>
    </form>
    <br>
	<form method="post" action="/addloo">
        <div class="form-group">
            <input id='latitude' autocomplete="off" class="form-control" name="latitude" placeholder="latitude" type="number" step = "any" required>
        </div>
		<div class="form-group">
            <input id= 'longitude' autocomplete="off" class="form-control" name="longitude" placeholder="longitude" type="number" step = "any" required>
        </div>
    	
		<div class="form-group">
            <input autocomplete="off" class="form-control" name="name" placeholder="name of loo" type="text" required>
        </div>
		<div class="form-group">
            <input autocomplete="off" class="form-control" name="rating" placeholder="Overall niceness" type="number" requiredmin min = 1 max = 10>
        </div>
		<div class="form-group" style="padding-top: 1rem;">
        	<button class="btn btn-dark" type='submit'>Add loo!</button>
		</div>
        
    </form>
	<br><br>

{% endblock %}